# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
executorType: machine
jobs:
  build:
    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
    - checkout

    # Download and cache dependencies
    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "build.gradle" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-

    - run:
        name: Inspect Gradle dependencies
        command: ./gradlew dependencies

    - save_cache:
        paths:
        - ~/.gradle
        key: v1-dependencies-{{ checksum "build.gradle" }}

    # run tests!
    - run:
        name: Build project with test coverage
        command: ./gradlew build jacocoTestReport

    - run:
        name: Build and deploy Docker image
        command: |
          cd /home/circleci/repo/docker
          chmod +x builddocker.sh
          ./builddocker.sh

    - run:
        name: Save test results
        command: |
          mkdir -p ~/testsresults/
          find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/testsresults/ \;
        when: always

    - store_test_results:
        path: ~/testsresults

    - store_artifacts:
        path: ~/testsresults

    - run:
        name: Send test results to CodeCov
        command: bash <(curl -s https://codecov.io/bash)

  deploy:
    docker:
      - image: buildpack-deps:trusty
    steps:
      - checkout
      - run:
          name: Deploy Master to Heroku
          command: |
            git push --force https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git master

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master