aqicn:
  scheme: 'https'
  host: 'api.waqi.info'
  path: 'feed/'
  token: ${AQICN_TOKEN}
spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: breathelive
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    protocol: smtp
    tls: true
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com
breathelive:
  samplingInSeconds: 21600